GCP_PROJECT_ID=your-project-id
GCP_REGION=europe-west3
GOOGLE_OIDC_CLIENT_ID=your-google-client-id
GOOGLE_OIDC_CLIENT_SECRET=your-google-client-secret
GOOGLE_WORKSPACE_DOMAIN=example.com

APP_DOMAIN=app.example.com
ARGOCD_HOSTNAME=argocd.example.com

MONGO_USERNAME=appuser
MONGO_PASSWORD=change-me
MONGO_DB=wizlab

GITHUB_REPO_URL=https://github.com/your-org/your-repo.git


ARGOCD_ADMIN_GROUP=henrik.frech@breaby.com
